@import url(https://fonts.bunny.net/css?family=aguafina-script:400|alegreya:400i|amaranth:400);

body {
  font-family: "Amaranth", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
  margin: 0;
}

/* NAVBAR */

.navbar {
  background-color: #000000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.initial {
  font-family: "Aguafina Script", handwriting;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  width: 25%;
  cursor: default;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  height: 100%;
  width: 75%;
}

/* .onglet */
.onglet {
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 25px;
  position: relative;
}

.onglet::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s;
}

.onglet:hover::after {
  width: 100%; /* Largeur de la bordure lors du survol complet */
}

/* MAIN */

main {
  width: 90%;
  margin: auto;
  /* background-color: rgba(255, 255, 255, 0.2); */
}

/* INTRO */

.intro {
  background-image: ("../img/bg-intro.jpg");
  background-size: cover;
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.title__intro {
  width: 50%;
  margin: 0;
  padding: 20px 40px;
  font-size: 70px;
  letter-spacing: 15px;
  text-align: center;
  text-transform: uppercase;
  border-right: solid 1px #ffffff;
}

.text__intro {
  width: 50%;
  margin: 0;
  padding: 20px 40px;
  font-size: 45px;
  text-align: center;
}

/* PARCOURS */

.title__parcours {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 60px 0 20px 0;
}

.photo__content {
  width: 50%;
  margin: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo__profile {
  filter: grayscale(100%);
  clip-path: circle(50% at 50% 50%);
}

.text__parcours {
  width: 50%;
  letter-spacing: 2px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px 40px;
  border-right: solid 1px #ffffff;
}

.parcours__content {
  display: flex;
}

/* DIPLOMES */

.diplomes {
  margin: 0;
  /* padding: 20px 40px; */
}

.title__diplomes {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 60px 0 20px 0;
}

.list__diplomes {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.itemlist__diplomes span {
  font-style: italic;
  line-height: 60px;
}

/* COMPETENCES */

.competences {
  margin: 0;
  /* padding: 20px 40px; */
}

.title__competences {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 60px 0 20px 0;
}

.competences__content {
  display: flex;
}

.list__competences {
  border-right: solid 1px #ffffff;
  width: 50%;
  list-style: none;
  margin: 0;
  padding: 20px 40px;
  text-align: center;
}

.competences__lign {
  display: flex;
}

.icones__competences {
  width: 50%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icones__lign {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icones__competences img {
  width: 100px;
  height: 100px;
}

/* PROJETS */

.projets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__projets {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 60px 0 20px 0;
}

.video-container {
  width: 800px;
  /* overflow: hidden;
  position: relative; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

video {
  width: 800px;
  height: 400px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 10px;
}

.git__link {
  width: 30%;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 5px 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  transition: transform 0.5s;
}

.git__link:hover {
  transform: scale(1.1);
  background-color: #ececec;
}

/* CV */

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__cv {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0 0 20px 0;
}

.cv__link {
  width: 20%;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 20px 40px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  transition: transform 0.5s;
}

.cv__link:hover {
  transform: scale(1.1);
  background-color: #ececec;
}

/* CONTACTS */

.title__contacts {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 60px 0 20px 0;
}

.contacts p {
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0;
}

.contacts ul {
  list-style: none;
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.item__contacts {
  width: 90px;
  height: 90%;
  transform: translateY(0);
  transition: transform 0.5s;
}

.item__contacts:hover {
  animation: rotateAndTranslate 800ms linear forwards;
}

@keyframes rotateAndTranslate {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(360deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

/* FOOTER */

footer {
  background-color: #000000;
  height: 100px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

footer p {
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  ...;
}
@media (min-width: 768px) {
  ...;
}
@media (min-width: 992px) {
  ...;
}
@media (min-width: 1200px) {
  ...;
}
